@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz-bg {
  background-image: url('./assets/10740576.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.quiz-bg-start {
  background-image: url('./assets/question_marks_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.quiz-bg-quiz {
  background-image: url('./assets/23982.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}